apiVersion: v1
kind: Service
metadata:
  name: endpoints
spec:
  ports:
    - name: http
      port: 80
      targetPort: 8080
      protocol: TCP
    - name: https
      port: 443
      targetPort: 8443
      protocol: TCP
  type: LoadBalancer
  selector:
    app: kubernetes-series